<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Innovative TechCamp</title>
  <meta name="description" content="This is page one.">
  <link rel="stylesheet" href="{% static 'assets/libs/font-awesome.css' %}">

  <link rel="stylesheet" href="{% static 'assets/libs/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/libs/owl.theme.default.min.css' %}" />


  <!-- foundation  -->
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles_foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>


  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- Menu -->


  </div>
  <div class="off-canvas-content  is-sticky-wrapper    " data-off-canvas-content>
    <div id="home"></div>
    <!-- start content -->
    <!-- one page header -->

    <header class="header is-sticky " id="header">
      <div class="header-top">
        <div class="row">
          <div class="large-6 column hide-for-small-only">
            <div class="header-top__left">Certified Google Adword Specialist - New York</div>
          </div>
          <div class="large-6 column text-right">
            <ul class="float-right sosmed-share m-l-20 hide-for-small-only">
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
            <div class="header-top__right float-right">
              Call Us (+91) 89891 48388  ( Office Hours )
              <span class="hide-for-small-only">| Share Us</span>
            </div>

          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="row">
          <div class="large-5 small-10 column">
            <div class="media-object">
              <div class="media-object-section">
                <a href="index.html">
                  <figure class="logo-top">
                    <img src="{% static 'images/logo.png' %}">
                  </figure>
                </a>
              </div>

            </div>
            <!-- end media-object -->
          </div>
          <div class="large-7 small-2 column">
            <ul class="menu dropdown float-right menu-main show-for-small-only" data-dropdown-menu>
              <li>
                <a href="#">
                  <button class="menu-icon" type="button" data-open="offCanvas"></button>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <section id="slider-04">
      <div class="owl-slider-04 owl-carousel owl-theme">
        <div class="item owl-bg cover-bg" style="background:linear-gradient(rgba(20,20,20,0.10), rgba(20,20,20,0.10)), url({% static 'images/anjali2.jpg' %})">
          <div cass="container">
            <div class="row">
              <div class="large-6 column float-right">
                <div class="owl-slide-content_text">
                  <div class="owl-slide-content_text-title">
                    Welcome To Kids Building Technology
                  </div>

                  <div class="owl-slide-content_text-desc">
                    <strong style="color:#f41804">HOLIDAY SPECIAL!! $100+ VALUE</strong>
					<p>We work with our clients to create online strategies that produce more traffic, more leads, and more
                      business.
                    </p>
                    <a href="#anjali" class="button m-t-15 -rounded warning" onclick="document.getElementById('modal-wrapper').style.display='block'">Register Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    </section>
    <!-- end main slide -->
    <!-- end main slide -->

    <!-- end client logo -->

    <div class="section bg--grey" id="about" style="background-image:url({% static 'images/cm-bg-01.jpg' %});background-position: bottom center;">

      <div class="row">
        <div class="large-8 small-12 column">
          <div class="el-image">
          </div>
        </div>
        <div class="large-4 small-12 column">
          <div class="el-content text-left p-t-60 p-b-60 ">
            <p class="el-subtitle">COMPREHENSIVE SOLUTIONS</p>
            <h3 class="el-title">Captivating Your
              <br>Potential Audience.</h3>
            <div class="divider float-left"></div>
            <div class="clear m-b-30"></div>
            <p class="">Strategic marketing approach focused on creating and distributing valuable, relevant, and consistent content
              to attract and retain a clearly defined audience and to drive profitable customer action.</p>
            <a href="#anjali" class="button m-t-15" onclick="document.getElementById('modal-wrapper').style.display='block'">Register Here</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end standard 2 section -->
	<section id="anjali">

			<div id="modal-wrapper" class="modal">

				<form class="modal-content animate" action="" method="POST">

					<div class="imgcontainer">
						<span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
						<img src="{% static 'images/1.png' %}" alt="Avatar" class="avatar">
						<h1 style="text-align:center">Register Here!</h1>
					</div>

					<div class="">
						<input type="text" placeholder="Full Name" name="Fullname">
						<input type="text" placeholder="Email Address" name="email" autocomplete="off">
						<input type="text" placeholder="Contact Number" name="contact">
						<button class="button6" type="submit">Register</button>
            {% csrf_token %}
					</div>

				</form>

			</div>


	</section>
    <div class="section p-t-60" id="expertise">
      <div class="row expanded">
        <div class="large-12 column">
          <div class="section-header text-center">
            <div class="section-header_subtitle text-uppercase">
              STRATEGIC CONTENT MARKETING PLAN
            </div>
            <div class="section-header_title">
              <h2>Captivating Your Potential Audience.</h2>
            </div>
            <div class="divider"></div>
            <div class="clear"></div>
            <div class="section-header_desc">
              <p>We assess our clients' image and provide strategies that inspire the audience to get involved and take action.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-content block-tab-collapse m-t-60">
        <ul class="accordion tab-collapse-nav" data-responsive-accordion-tabs="tabs small-accordion large-tabs">
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="el-icon">
                <img src="{% static 'images/icons/cm/cm-strategy-blue.svg' %}" width="50">
              </div>
              <div class="el-subtitle">Content Marketing</div>
              <div class="el-title">Strategy</div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-strategy-red1.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Strategy Development</h4>
                  <p>We focus on creating remarkable content that attracts your audience through:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Story Strategy Development</li>
                    <li>Content Database & Assets</li>
                    <li>Copy and Editorial Strategy</li>
                    <li>Content Story Strategy</li>
                    <li>Content Database & Assets</li>
                  </ul>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-strategy-red2.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Analytics Consulting</h4>
                  <p>Analytic as measure tools help to see customer interaction progress. Our Google Analytics certified team
                    helps measuring results:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Google Analytics Setup</li>
                    <li>Metrics & KPI Development</li>
                    <li>Analytics Audits</li>
                    <li>Analytics Reports</li>
                  </ul>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-strategy-red3.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Content Marketing Training</h4>
                  <p>On-site training sessions customized to your organization’s needs: </p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Content Marketing Training</li>
                    <li>Custom Workshops Curriculum</li>
                    <li>Full-Day Training at Your Office</li>
                    <li>Flexible Time and Location</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="el-icon">
                <img src="{% static 'images/icons/cm/cm-production-blue.svg' %}" width="50">
              </div>
              <div class="el-subtitle">Content Marketing</div>
              <div class="el-title">Production</div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-4 small-12 column">
                  <div class="el-thumb p-r-15">
                    <img src="http://placehold.it/550x550">
                  </div>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-production-blue2.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Content Creation</h4>
                  <p>We focus on creating remarkable content that attracts your audience:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Data Visualization</li>
                    <li>Copywriting Services</li>
                    <li>Video Production</li>
                    <li>Content Evaluation</li>
                  </ul>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-production-image.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Content Management</h4>
                  <p>Tailor content for your visitors that is relevant, and we offer high technology application:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Content Updates</li>
                    <li>Content Auditing</li>
                    <li>Content Inventories</li>
                    <li>Website Management</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="el-icon">
                <img src="{% static 'images/icons/cm/cm-promotion-blue.svg' %}" width="50">
              </div>
              <div class="el-subtitle">Content Marketing</div>
              <div class="el-title">Promotion</div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-promotion-blue1.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Paid Media</h4>
                  <p>Display targeted ads to audience on targeted and popular social networks:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Paid Social: Facebook, Instagram, Pinterest, YouTube, Twitter, Linkedin</li>
                    <li>PPC & Retargeting</li>
                    <li>Sponsored Content</li>
                  </ul>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-promotion-blue2.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Organic Search Marketing</h4>
                  <p>The longer you are consistently adding quality content, the more pages you have directed prospects back
                    to your site:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Organic Search Strategy</li>
                    <li>Technical Website Audits</li>
                    <li>Keyword Content Development</li>
                    <li>Promotion and Link Building</li>
                  </ul>
                </div>
                <div class="large-4 small-12 column">
                  <div class="el-icon">
                    <img src="{% static 'images/icons/cm/cm-promotion-blue3.svg' %}" width="80">
                  </div>
                  <h4 class="el-title">Email Marketing</h4>
                  <p>We help our clients make them constantly email newsletters process running more smoothly:</p>
                  <ul class="ls-list ls-list-check blue">
                    <li>Initial Email Theme Development</li>
                    <li>Ongoing Newsletter </li>
                    <li>Monthly Split-Testing</li>
                    <li>Reporting</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <!-- ... -->
        </ul>
        <!-- end tabs wizard -->
      </div>

    </div>
    <!-- end section tabs wizard -->
	<section class="section grey-section section-padding-top">
			<div class="container">
				<div class="sixteen columns">
					<div class="section-title">
						<h3 style="margin-left:35%">OUR LATEST PROJECTS</h3>

					</div>
				</div>
			</div>
			<div class="portfolio-wrap-1">
				<a href="" class="animsition-link">
					<div class="portfolio-box-1">
						<div class="mask-1"></div>
						<img src="{% static 'images/portfolio/1.jpg' %}" alt="">
						<h6>Arduino projects</h6>
					</div>
				</a>
				<a href="video-project.html" class="animsition-link">
					<div class="portfolio-box-1">
						<div class="mask-1"></div>
						<img src="{% static 'images/portfolio/2.jpg' %}" alt="">
						<h6>Power of RaspberryPi</h6>
					</div>
				</a>
				<a href="gallery-project.html" class="animsition-link">
					<div class="portfolio-box-1">
						<div class="mask-1"></div>
						<img src="{% static 'images/portfolio/3.jpg' %}" alt="">
						<h6>IoT project</h6>
					</div>
				</a>
				<a href="parallax-project.html" class="animsition-link">
					<div class="portfolio-box-1">
						<div class="mask-1"></div>
						<img src="{% static 'images/portfolio/4.jpg' %}" alt="">
						<h6>Game Development</h6>
					</div>
				</a>
			</div>

		</section>

    <!-- enc content marketing service -->

    <!-- end content book -->
    <div class="section p-t-60 p-b-60" id="faq">
      <div class="row">
        <div class="large-12 column">
          <div class="el-content text-center">
            <p class="el-subtitle no-margin"></p>
            <h2 class="el-title">Frequently Asked Questions</h2>
            <div class="divider"></div>
          </div>
        </div>
      </div>
      <div class="row m-t-30 block-faq">
        <div class="large-6 small-12 column">
          <div class="el-content text-right p-r-15 p-0-small">
            <h4 class="el-title m-b-15">For more Details</h4>
            <p>send us an email or call (+91) 89891 48388</p>
            <div class="clear"></div>
            <div class="media-object float-right">
              <div class="media-object-section">
                <span class="el-title">Vaibhav Jain</span>
                <br>
                <span class="el-link font-size-14">
                  <a href="">vaibhav@robodia.com</a>
                </span>
                <br>
                <span class="el-link font-size-14">
                  <a href="">(+91) 89891 48388</a>
                </span>
              </div>
              <div class="media-object-section">
                <div class="el-thumb">
                  <img src="{% static 'images/faq.png' %}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-6 small-12 column">
          <div class="el-content p-l-15 p-0-small">
            <ul class="accordion ls-collapse" data-accordion>
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title el-title ">Why does Buzzer Madia exist in global marketing services?</a>
                <div class="accordion-content p-r-15" data-tab-content>
                  Our founder, Chris Craft, has always found himself around people who loved writing. We first started as an end-to-end digital
                  marketing agency, but our team, mostly comprised of writers, felt better sticking with our core competency,
                  content creation.
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title  el-title ">Why should I hire a content marketing agency?</a>
                <div class="accordion-content  p-r-15" data-tab-content>
                  In an online world, your digital brand works 24/7. The real question isn’t why you should hire a content marketing agency
                  – it’s whether you can afford not to. Your story must be told and distributed. Speaking for ourselves,
                  our services will give you the peace of mind that your business’s story is told and seen.
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title  el-title ">Who have you worked with?</a>
                <div class="accordion-content  p-r-15" data-tab-content>
                  Since 2010, we’ve been blessed to work with creative, smart, and fun clients on some incredibly awesome projects. The list
                  includes Google, the NFL, Sony Music, Aloe Blacc, and more. Learn more on our work page.
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title  el-title ">What do your Content Marketing services cost?</a>
                <div class="accordion-content  p-r-15" data-tab-content>
                  Many of our services are priced on a “per word” basis. Standard blog posts can be purchased for $79 per post on a one-by-one
                  basis. If you need web copy (bios, about us), we offer our 500-word block (about one page of copy) for
                  $149. If you need advice for your content strategy, our consulting rate is $149 per hour (purchased in
                  3-hour blocks). We also write video scripts (project-by-project pricing). Visit our services page for more
                  information.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end content faq -->
    <footer class="section footer p-t-30 p-b-30 bg--primary" id="contact">
      <div class="row">
        <div class="large-5 small-12 column">
          <div class="block-widget">
            <div class="block-widget_header">
            </div>
            <div class="block-widget_content">
              <p>
                <figure class="logo-footer">
                  <img src="{% static 'images/logo-footer.png' %}">
                </figure>
              </p>
              <p>Kids can build anything.<br/>We can help teach them that.</p>
            </div>
          </div>
        </div>
        <div class="large-6 small-12 column large-right">

          <div class="block-newsletter">
            <h4>Sign up for our Newsletter</h4>
            <form method="POST">
              <div class="input-group">
                <input class="input-group-field field-text" type="email" placeholder="Your email address" name="email1">
                <div class="input-group-button">
                  <input type="submit" class="button -rounded" value="Subscribe">
                </div>
              </div>
              {% csrf_token %}
            </form>
            <p class="text-small">Learn About our company at
              <a href="#">www.globalbuzzer.com</a> | Join with our company:
              <a href="#">Career</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 column">
          <div class="">
            <div class="footer-copyright float-left">
              Copyright © 2017 Robodia Inc. All rights reserved.
            </div>
            <div class="footer-nav_icon float-right">
              <ul class="menu horizontal">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- end footer-->
    <!-- end content -->
  </div>
  <!-- end offcanvas -->
<script src="{% static 'assets/libs/jquery.js' %}"></script>
  <script src="{% static 'assets/libs/foundation.min.js' %}"></script>
  <script src="{% static 'assets/libs/SmoothScroll.js' %}"></script>
  <script src="{% static 'assets/libs/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'assets/libs/jquery.flexverticalcenter.js' %}"></script>
  <script src="{% static 'assets/libs/owl.carousel.min.js' %}"></script>
  <script  src="{% static 'assets/libs/scrolla.jquery.min.js' %}"></script>

  <script>
    $('.animate').scrolla({
      mobile: true, // disable animation on mobiles
      once: true // only once animation play on scroll
    });

    /* vertical center */
    $('.vcenter').flexVerticalCenter({
      cssAttribute: 'padding-top'
    });

    // to make scroll feel smooth
    SmoothScroll({
      // Scrolling Core
      animationTime: 800, // [ms]
      stepSize: 50, // [px]
      // Acceleration
      accelerationDelta: 50, // 50
      accelerationMax: 3, // 3
      // Keyboard Settings
      keyboardSupport: true, // option
      arrowScroll: 50, // [px]
      // Pulse (less tweakable)
      // ratio of "tail" to "acceleration"
      pulseAlgorithm: true,
      pulseScale: 4,
      pulseNormalize: 1,
      // Other
      touchpadSupport: false, // ignore touchpad by default
      fixedBackground: true,
      excluded: ''
    });

    /* foundation main */
    $(document).foundation();
    $('.off-canvas a').on('click', function () {
      $('.off-canvas').foundation('close');
    });

    // career page collapse
    $('.career-item_header-button').click(function () {
      $(this).parent().parent().find('.career-item_content').slideToggle('active');
    });

    // owl carousel
    $(document).ready(function () {
      $('.main-slide').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      });

      $('.team-slide').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 1
          }
        },
        autoplay: true,
        autoplayTimeout: 8000,
        autoplayHoverPause: true,
        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>',
          '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        ]
      });
    });

    // handle links with @href started with '#' only
    $(document).on('click', 'a[href^="#"]', function (e) {
      var id = $(this).attr("href");
      var offset = 110;
      var target = $(id).offset().top - offset;
      $('html, body').animate({
        scrollTop: target
      }, 1500, "easeInOutExpo");
      event.preventDefault();
    });

    $('.owl-slider-01').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 1,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>']
    });

    $('.owl-slider-02').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 1,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>']
    });

    $('.owl-slider-03').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 1,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>']
    });

    $('.owl-slider-04').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 1,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>']
    });

    $('.owl-slider-05').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 1,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>']
    });

    $('.owl-slider-logo').owlCarousel({
      nav: true,
      autoplaySpeed: 300,
      items: 5,
      navSpeed: 400,
      navText: ['<i class="fa fa-long-arrow-left"></i>', '<i class="fa fa-long-arrow-right"></i>'],
      responsiveClass: true,
      responsive: {
        0: {
          items: 2,
          nav: true
        },
        600: {
          items: 2,
          nav: false
        },
        1000: {
          items: 5,
          nav: true,
          loop: false
        }
      }
    });
  </script>
  <script>
// If user clicks anywhere outside of the modal, Modal will close

var modal = document.getElementById('modal-wrapper');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "block";
    }
}
</script>
</body>

</html>
